
body{
	text-transform: uppercase;
	background-color: black;
	font-weight: bold;
	margin: 0;
	letter-spacing: 0.1em;
	font-family: 'Source Sans Pro', sans-serif;
}
h1{
	margin: 0;
	padding: 5px 0px;
	text-align: center;
	color: white;
}
#options{
	text-align: center;
	background-color: white;
	color: steelblue;
}
span{
	margin: 0px 50px;
}

.square{
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 25px;
	transition: background-color 0.5s; 
}
.container{
	width: 50%;
	margin: 15px auto;
}
#navv{
	background-color: blue;
}
#msg{
    padding-right: 50px;
}

#newcolors, #easy, #hard:hover{
	/*a:hover {*/
 	cursor:pointer;
 	transition: all 0.5s;
}
#clr{
	font-size: 2em;
	transition: all 3s;
}
/*#hard{
	background-color: blue;
	color: white;
	padding: 0px 20px;
}*/
.changeit{
	background-color: steelblue;
	color: white;
	padding: 0px 20px;
}
#easy, #hard{
	margin: 5px;
}
